body {
    height: 450px;
    width: 480px;
    border: 1px solid black;
    margin: auto; 
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;

  
}

h1 {
    margin: 1px;
    color: black
    border-radius: 10px;   
    font-family: 'Times New Roman', Times, serif;

}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    border-radius: 10px;
    margin: 0px
}
section h3 {
    font-family: 'Times New Roman', Times, serif;
    color: dimgrey;
    background-color: black;
    border-radius: 10px
}

section {
    background-color: lightslategray;

}
 
section p {
text-align: justify;
}


/* Navegação  */

nav {
    display: flex;
    flex-direction: column;
    
 
}

nav > a {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

nav ul {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-evenly;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 10px;
    list-style: none;
    padding: 0;

}

nav ul li a {
    display: list-item;
    background-color: black;
    list-style: none;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    


}


nav section {
    display: none;
}

nav section:target {
    display: block;
}


/* Cabeçalho */

header {
    display: flex;
    justify-content: flex-end;
    background-color: cyan;
    flex-direction: column;
    align-items: center;
    
    
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid black;
}
 
header p {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;

}   

footer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer form {
    background-color: white;
    width: 480px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

footer div {
    display: flex;
    justify-content: right;
    flex-direction: column;
    margin: 10px;
    padding: 0px;

}

footer label {
    display: inline-block;
    margin-bottom: 15px;
    text-align: left;
    color: black;

}

footer input {
    border: 3px solid #3E445B;
    border-radius: 15px;
    display: flex;
    font-size: 14px;
    width: 80%;
    padding: 15px;

}

footer textarea {
    border: 3px solid #3E445B;
    border-radius: 15px;
    font-size: 14px;
    padding: 15px;
}

 footer form button {
    dissplay: inline-block;
    justify-content: center;
    font-size: 15px;
    background-color: #6C63FF;
    border-radius: 25px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
    margin-top: 10px;
    width:100%;
    height: 10%;
    cursor: pointer;
 }

 footer img {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: right;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    background-color: black;
 }

footer p {
display: inline-block;
}

 footer a {
text-align: center;
margin: 2px;
color: black;
background-color: white;

 }

 footer a p {
    margin-top: 2px;
    
}














