body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    padding-right: 300px;
    padding-left: 300px;

    
    
    
  
}

h1 {
    margin: 1px;
    color: black
    border-radius: 10px;   
    font-family: 'Times New Roman', Times, serif;

}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    border-radius: 10px;
    margin: 0px
}
section h3 {
    font-family: 'Times New Roman', Times, serif;
    color: dimgrey;
    background-color: black;
    border-radius: 10px
}

section {
    background-color: lightslategray;

}
 
section p {
text-align: justify;
}


/* Navegação  */

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

nav > a {
    text-decoration: none;
    color: black
    font-weight: 800;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

nav ul {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    list-style: none;
    padding: 0;
    width: 100%;

}

nav ul li a {
    display: list-item;
    background-color: black;
    list-style: none;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: white;
    


}


nav section {
    display: none;
}

nav section:target {
    display: block;
}


/* Cabeçalho */

header {
    display: flex;
    justify-content: center;
    background-color: cyan;
    flex-direction: column;
    align-items: center;
    
    
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid black;
}
 
header p {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;

}   

footer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer form {
    width: 400px;
    padding: 25px;
}35

footer div {
    display: flex;
    justify-content: right;
    flex-direction: column;
    margin: 10px;
    padding: 1px;
}

 footer form button {
    margin-top: 10px;
    width:50%;
    height: 10%;
    background-color: darkturquoise
    cursor: pointer;
 }

 footer img {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: right;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    background-color: black;
 }

 footer a {
    margin: 20px;
text-align: center;

 }

footer a p {
    margin-top: 2px;














