*{margin: 0; 
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 450px;
    width: 480px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: black;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     
}

.container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    border-radius: 5px;
    border: 2px solid #3E445B
    width: 450px;
    max-width: 100%;
}

.container h2 {
        font-weight: 600px;
        color:black;
        font-size: 30px;
    }

    .form {
        background-color: #3E445B;
        padding: 0 40px 30px;
        display: flex;
        flex-direction: column;
        margin: 0px;
        text-align: center;
        padding: 0 40px 30px;
    }
    
.form label {
    display: inline-block;
    margin-bottom: 30px;
    text-align: left;
    color: black;
}

.form input {
    border: 3px solid #3E445B;
    border-radius: 15px;
    display: flex;
    font-size: 14px;
    width: 100%;
    padding: 15px;
}

.form textarea {
    text-align: left
    border: 3px solid #3E445B;
    border-radius: 14px;
    display: flex;
    font-size: 15px;
    width: 100%;
    padding: 15px;
}
   
.form button {
    display: inline-block;
    justify-content: center;
    margin: 0px;
    font-size: 15px;
    background-color: #6C63FF;
    border-radius: 25px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
    
}




